/* Fonts   noto serif & inter*/
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styling  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.dark-1{
    color: #8987A1;
}
.primary-clr{
    color: #E95A08;
}
/* Header Section Styling  */
nav{
    max-width: 1140px;
    height: auto;
    padding: 10px 32px;
    margin: 0 auto 120px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
    background-color: white;
}
nav .header-content ul{
    display: flex;
    gap: 40px;
    cursor: pointer;
}
nav .header-content ul li{
    list-style: none;
}
/* Banner  */
.banner{
    max-width: 1140px;
    /* border: 2px solid black; */
    margin: 120px auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
    background-color: white;
}
.banner-content{
    max-width: 550px;
    /* border: 2px solid black; */
    padding: 10px;
}
.banner-content-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-image{
    position: relative;
    bottom: -4px;
}


/* making it responsive  */
@media screen and (max-width:576px) {
    nav .header-content ul li:not(:last-child){
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 20px;
    }
}