/* Fonts   noto serif & inter*/
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

/* Shared Styling  */
*{
    margin: 0;
     padding: 0;
    box-sizing: border-box;
}
.dark-1{
    color: #8987A1;
}
.dark-2{
   color:  rgba(0, 0, 0, 0.5);
}
.primary-clr{
    color: #E95A08;
}
.center{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    padding: 10px 16px;
    border: 2px solid aliceblue;
    border-radius: 10px;
    transition: 0.5s all ease;
}
.btn-primary:hover{
    background-color: #e95a08c9;
    transform: scale(1.05);
    border: 2px solid rgba(0, 0, 0, 0.226);
    transition: 0.5s all ease;
}
/* Header Section Styling  */
nav{
    max-width: 1140px;
    height: auto;
    padding: 10px 32px;
    margin: 0 auto 120px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.055);
    background-color: white;
}
nav .header-content ul{
    display: flex;
    gap: 40px;
    cursor: pointer;
}
nav .header-content ul li{
    list-style: none;
}
/* Banner  */
.banner{
    max-width: 1140px;
    /* border: 2px solid black; */
    margin: 120px auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
    background-color: white;
}
.banner-content{
    max-width: 550px;
    /* border: 2px solid black; */
    padding: 10px;
}
.banner-content-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-image{
    position: relative;
    bottom: -4px;
    /* border: 2px solid black; */
}

/* Section Our Plants  */
.our-plants{
    max-width: 1140px;
    /* border: 2px solid black; */
    margin: 120px auto 200px;
    background-color: white;
}
.our-plants-content-title{
    font-size: 50px;
    font-weight: bold;
}
.our-plants-content-description{
    max-width: 880px;
    margin: 10px auto 30px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}
.card{
    /* border: 2px solid black; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 10px 10px;
    /* background-color: aliceblue; */
}
.card img{
    width: 100%;
    height: 100%;
}

.plant-lover{
    max-width: 1140px;
    height: auto;
    /* border: 2px solid black; */
    margin: 200px auto 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267); */
}
.plant-lover-content{
    padding: 10px 20px;
    max-width: 540px;
    /* border: 2px solid black; */
}
.plant-lover-image{
    position: relative;
}
.plant-lover-content-title{
    font-size: 50px;
    font-weight: bold;
}
.plant-lover-content ul{
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.marketer{
    width: 100%;
}
.trusted-badge {
  width: 270px;  
  position: absolute;
  top: -120px;    
  right: -70px;   
  z-index: 10;
}
.latest-deal{
    width: 100%;
    margin: 130px auto;
}
.latest-deal-title{
    font-size: 50px;
    font-weight: bold;
}
.latest-deal-description{
    max-width: 850px;
    font-size: 22px;
    margin: 10px auto 0;
}

/* Section offer  */
.box-container{
    max-width: 1140px;
    margin: 130px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px); 
    /* border: 2px solid black; */
    gap: 20px;
}
.box{
    width: 100%;
    height: 100%;
    /* border: 2px solid tomato; */
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid aqua; */
}
.box-content{
    border-radius: 10px;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-content-title{
    font-size: 20px;
    font-weight: bold;
}
.shop{
    color: white;
    font-size: 16px;
    font-weight: 500px;
}
.bloom{
    grid-column: 1;
    grid-row: 1;
    background-image: url(photos/deal-bloom.png);
}
.ana{
    grid-column: 1;
    grid-row: 2;
    background-image: url(photos/deal-ana.png);
}
.zebo{
    background-image: url(photos/deal-zabo.png);
}
#bx{
    grid-column: span 2;
    grid-row: span 2;
}
#title{
    font-size: 40px;
    font-weight: bold;
}
#shop{
    font-size: 28px;
    color: white;
}

/* join Section  */
.join{
    height: 530px;
    width: 100%;
    background-image: url("photos/news-letter-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.join-content{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join-content-title{
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.input-des{
    margin-top: 20px;
    width: 50%;
    display: flex;
}
.email{
    width: 75%;
    border: none;
    padding: 10px 32px;
}
.btn-subscribe{
    width: 25%;
    border: none;
    padding: 10px 32px;
    background-color: #E95A08;
    color: white;
    cursor: pointer;
}

/* Footer Section  */
footer{
    min-height: 340px;
    width: 100%;
    background-color: white;
    /* border: 2px solid black; */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 50px;

}
.logo p{
    max-width: 350px;
}
.abouts ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.abouts ul li a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.5) ;
}
.abouts ul li{
    list-style-type: none;
}
.icons{
    display: flex;
    gap: 30px;
}
.icons img{
    width: 40px;
    cursor: pointer;
    transition: 0.5s all ease;
}
.icons img:hover{
    transform: scale(1.1);
    transition: 0.5s all ease;
}
/* making it responsive  */
@media screen and (max-width:576px) {
    nav .header-content ul li:not(:last-child){
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 20px;
        justify-content: flex-start;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
   .plant-lover{
    flex-direction: column;
   }
   .plant-lover-content-title, .banner-content-title, .our-plants-content-title, .latest-deal-title{
    font-size: 24px;
   }
   .inter{
    font-size: 14px;
   }
   .trusted-badge{
    display: none;
   }
   .box-container{
    grid-template-columns: repeat(1, 1fr);
   }
   .box{
    height: 200px;
   }
   .box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .box-content{
    min-height: 100%;
    min-width: 100%;
   }
   .input-des{
    width: 80%;
   }
   .email{
    width: 70%;
   }
   .btn-subscribe{
    width: 30%;
   }
   .join-content-title, #title{
    font-size: 20px;
   }
   #shop{
    font-size: 16px;
   }
   footer{
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
   }
   .latest-deal{
    margin-bottom: 50px;
   }
   .box-container{
    margin-top: 50px;
    margin-bottom: 50px;
   }
   .latest-deal-description{
    max-width: 330px;
   }
}
@media screen and (min-width: 577px) and (max-width: 992px){
   .banner{
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
    }
    .card-container{
        grid-template-columns: repeat(3, 1fr);
    }
     .plant-lover{
    flex-direction: column;
   }
   .plant-lover-content-title{
    font-size: 36px;
   }
   .inter{
    font-size: 16px;
   }
   .plant-lover-content ul{
    max-width: 100%;
  }
   .plant-lover-content-title, .banner-content-title, .our-plants-content-title{
    font-size: 32px;
   }
   footer{
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
   }
}